<h1>Send an email</h1>

<p>It is impossible to verify that the value in the from field of an email is actually that account owner. In other words, in the email specification there is no enforcement of authenticity of sender.</p>
<p>When someone uses their own SMTP server, the from field from an email can be set in any value. Yet I think people tend to forget about this. I find funny how the most used (I guess) communication medium is so easily fakeable.</p>
<p>For physical mail, anybody can also go and send letters impersonating anybody else, but I think people will show more mistrust. Also, there is the handwriting evidence. I don't know if there is any law prohibiting physical mail impersonation. In the affirmative case, I don't know if email and the 'digital' have caught up in the law world.</p>
<p>In this page, you can send an email to anybody, putting anything you want in the from field. Can another relationship be broken so easily? Or can someone lose a job because of a prankster?</p>
<form action="/send" method="post">
	<%= token_tag(nil) %>
	<table>
		<tr>
			<td>From:</td>
			<td><input type="text" name="from"/></td>
		</tr>
		<tr>
			<td>To:</td>
			<td><input type="text" placeholder="Comma-separated emails" name="to"/></td>
		</tr>
		<tr>
			<td>Cc:</td>
			<td><input type="text" placeholder="Comma-separated emails" name="cc"/></td>
		</tr>
		<tr>
			<td>Bcc:</td>
			<td><input type="text" placeholder="Comma-separated emails" name="bcc"/></td>
		</tr>
		<tr>
			<td>Subject:</td>
			<td><input type="text" name="subject"/></td>
		</tr>
		<tr>
			<td>Body:</td>
			<td><textarea name="body"/></textarea></td>
		</tr>
	</table>
	<input type="submit" value="Send!" />
</form>